@if (isVisible) {
<nav>

  <i class="hideBtn bi bi-arrow-up-square-fill" (click)="isVisible=false"></i>
  <h1 routerLink="/" class="logo">Modulo</h1>

  <ul>
    <li routerLink="/user/me" class="flex between" (mouseenter)="hoverProfile=true" (mouseleave)="hoverProfile=false">
      <span class="flex"><img [src]="profileImgSrc" class="profile"><a data-cy="header-profile">Profile</a></span>
      <span class="logout-wrapper">
        <i id="logout-icon" *ngIf="hoverProfile" (click)="logout()" class="bi bi-box-arrow-right profile"></i>
      </span>
    </li>
    <li class="flex" routerLink="/friends">
      <i class="bi bi-person-heart test"></i>
      <a>Friends</a>
    </li>
    <li routerLink="/group" class="flex">
      <i class="bi bi-people-fill"></i>
      <a>Groups</a>
    </li>
    <li routerLink="/template" class="flex">
      <i class="bi bi-puzzle-fill"></i>
      <span class="flex"><a>Templates</a></span>
    </li>
  </ul>

  <hr>

  <div class="control">
    <button class="primary" (click)="createBoard()" data-cy="header-create-board"><i
        class="bi bi-plus-square-fill"></i>Create board</button>
  </div>

  <div class="boards">
    <label *ngIf="!!roots?.length">My Boards</label>
    <ul id="my-board-components">
      <li *ngFor="let item of roots" [routerLink]="'component/'+item.id" [ngClass]="{'in-view': isCurrentlyViewed(item)}" [attr.data-cy]="'root-board-link'">
        <a>{{item.name}}</a>
      </li>
    </ul>

    <label *ngIf="!!sharedRoots?.length">Shared Boards</label>
    <ul id="shared-board-components">
      <li *ngFor="let item of sharedRoots" [routerLink]="'component/'+item.id" [ngClass]="{'in-view': isCurrentlyViewed(item)}">
        <a>{{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>
}
@else {
<i class="showBtn bi bi-arrow-down-square-fill" (click)="isVisible=true"></i>
}

