@use "@styles/variables.scss" as *;
@use "@styles/global.scss" as *;

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#my-board-components, #shared-board-components {
  > li {
    display: inline-block;
    > a {
      white-space: normal;
      word-break: break-word;
      overflow-wrap: anywhere;
    }
  }
}

.hideBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 50;

  font-size: 1.5rem;
  color: #eee;
  cursor: pointer;
}

.showBtn {
  position: absolute;
  top: -0.5rem;
  right: 0;
  z-index: 50;

  font-size: 1.5rem;
  height: 1.5rem;
  color: $nav-bg;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 800px) {
  #my-board-components, #shared-board-components {
    overflow: auto;
    > li {
      display: list-item;
    }
  }

  .hideBtn {
    display: none;
  }
}

label {
  font-weight: 600;
  color: transparent;
  background-clip: text;
  background: $gradient;
  -webkit-background-clip: text;
}

label {
  font-weight: 600;
  color: transparent;
  background-clip: text;
  background: $gradient;
  -webkit-background-clip: text;
}

label {
  font-weight: 600;
  color: transparent;
  background-clip: text;
  background: $gradient;
  -webkit-background-clip: text;
}

nav {
  background-color: $nav-bg;
  height: 100%;
  padding: 1rem;
}

ul {
  padding-left: 0;
}

.logout-wrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

li {
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;

  &.in-view {
    a {
      /* color: $primary; */
    }
    background-color: $nav-bg-light;
  }

  cursor: pointer;

  img.profile[src=""] {
    display: none;
  }

  img.profile {
    background-color: $primary;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
  }

  i {
    color: $nav-fg;

    &.profile {
      position: absolute;
      top: -4px;
      right: 0;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $nav-separator;
        border-radius: 50%;
      }
    }
  }

  &:hover {
    background-color: $nav-bg-light;

    a {
      color: $primary;
    }
  }

  a {
    color: $nav-fg;
    text-decoration: none;
  }
}

hr {
  border: 2px solid $nav-separator;
  border-radius: 8px;
}

.control {
  margin: 1rem 0;

  button {
    width: 100%;
    text-align: start;

    i {
      margin-right: 1rem;
    }
  }
}

.logo {
  cursor: pointer;
}
