@use "sass:color";
@use "@styles/variables.scss" as *;

a {
  color: $primary;
}

/* button.btn {
  background-color: lightgray;
  color: black;

  &:hover {
    background-color: color.adjust(lightgray, $lightness: -5%);
  }
} */

button.btn-primary {
  background-color: $primary;
  color: white;
  border: 1px solid $primary;

  &:hover {
    background-color: color.adjust($primary, $lightness: -5%);
  }
}
