<nav *ngIf="!!component">

  @if (!this.readonlyMode) {

  <div class="flex board-title">
    <input (blur)="updateName()" (input)="previewName()" [(ngModel)]="component.name" name="title" #name>
    <i (click)="name.focus()" class="bi bi-pencil-fill"></i>
  </div>

  <div class="flex gap">

    <div class="flex flex-column justify-content-center align-items-center max-depth only-desktop">
      <label>Depth:</label>
      <div class="custom-number-input">
        <button (click)="decrementDepth()" class="chevron-btn">
          <i class="bi bi-chevron-left"></i>
        </button>
        <input type="number" step="1" [min]="minAllowedDepth" [max]="maxAllowedDepth" [(ngModel)]="component.depth"
          (keydown)="preventInvalidInput($event)" (blur)="sanitizeDepth()" (keyup.enter)="sanitizeDepth()" />
        <button (click)="incrementDepth()" class="chevron-btn">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>



    @if (isOwner) {
    <div style="position: relative">
      <button class="primary" data-bs-toggle="dropdown" aria-expanded="false" title="Share this board">
        <i class="bi bi-share-fill"></i>
        <span class="m-1 only-desktop"> Share </span>
      </button>
      <div class="dropdown-menu dropdown-menu-end add-child-menu">

        <table class="table table-sm mb-0">
          <thead>
            <tr>
              <th>Group</th>
              <th class="text-center">Read</th>
              <th class="text-center">Write</th>
            </tr>
          </thead>
          <tbody>
            @for (myGroup of myGroups; track myGroup.groupId) {
            <tr [class.text-muted]="!myGroup.permission.read && !myGroup.permission.write">
              <td>
                <span class="text-truncate d-inline-block" style="max-width: 10rem;" [title]="myGroup.name">
                  {{ myGroup.name }}
                </span>
              </td>
              <td class="text-center">
                <input class="form-check-input" type="checkbox" [(ngModel)]="myGroup.permission.read"
                  (change)="onReadChange(myGroup)">
              </td>
              <td class="text-center">
                <input class="form-check-input" type="checkbox" [(ngModel)]="myGroup.permission.write"
                  (change)="onWriteChange(myGroup)">
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    }

    <div style="position: relative">
      <button class="primary" data-bs-toggle="dropdown" data-bs-boundary="viewport" data-bs-offset="0,8"
        aria-expanded="false" data-cy="create-sub-component" title="Create new component">
        <i class="bi bi-plus-square-fill"></i>
        <span class="m-1 only-desktop"> Create </span>
      </button>
      <div class="dropdown-menu dropdown-menu-end add-child-menu">
        <div class="h6 add-child-header">Add to {{this.component?.name}}</div>
        <hr class="m-0 p-0">
        <div class="add-child-items m-0 p-0">
          <div><a class="dropdown-item text-dark" (click)="createChild('board')" data-cy="create-sub-board">Board</a>
          </div>
          <div><a class="dropdown-item text-dark" (click)="createChild('text')" data-cy="create-sub-text">Text</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('image')" data-cy="create-sub-image">Image</a>
          </div>
          <div><a class="dropdown-item text-dark" (click)="createChild('video')">Video</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('note')">Note</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('task')">Task</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('sketch')">Sketch</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('calendar')">Calendar</a> </div>
        </div>
      </div>
    </div>

    @if (isOwner) {
    <button type="button" class="primary" (click)="openDeleteModal(this.component)" data-cy="home-board-delete-modal"
      title="Delete Board">
      <i class="bi bi-trash-fill"></i>
      <span class="m-1 only-desktop">Delete Board </span>
    </button>
    }

    <div class="form-check form-switch only-desktop" title="Enable edit mode to drag and resize components">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="inEditMode"
        [attr.data-cy]="'home-edit-mode'">
      <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
    </div>

  </div>
  } @else {
  <div class="flex board-title">
    <input disabled [(ngModel)]="component.name" name="title" #name style="width: auto">
  </div>
  }

</nav>

<div *ngIf="!!component" style="position: relative;">

  <div #preview class="preview-card"></div>

  <app-board-component *ngIf="component" [id]="'board-' + component.id" [depth]=0 [self]="component"
    [inEditMode]="inEditMode" [readonlyMode]="this.readonlyMode" (startDraggingContainer)="startDragging($event)"
    (stopDraggingContainer)="stopDragging(undefined)" style="height: 100vh" #board>
  </app-board-component>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #deleteModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Component?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="!!forDeletion">
        {{getCompDeleteMsg(forDeletion)}}
        <br>
        All existing sub-components in this component will also be deleted!
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Close</button>
        <button type="button" class="primary" (click)="finishDeleteModal()" data-bs-dismiss="modal"
          data-cy="home-board-delete-modal-confirm">Delete</button>
      </div>
    </div>
  </div>
</div>