<nav *ngIf="!!component">

  <div class="flex board-title">
    <input (blur)="updateName()" (input)="previewName()" [(ngModel)]="component.name" name="title" #name>
    <i (click)="name.focus()" class="bi bi-pencil-fill"></i>
  </div>

  <div class="flex gap">

    <div>
      <button class="primary" data-bs-toggle="dropdown" aria-expanded="false" data-cy="create-sub-component">
        <i class="bi bi-plus-square-fill"></i>
        <span class="m-1"> Create </span>
      </button>
      <div class="dropdown-menu add-child-menu">
        <div class="h6 add-child-header">Add to {{this.component?.name}}</div>
        <hr class="m-0 p-0">
        <div class="add-child-items m-0 p-0">
          <div><a class="dropdown-item text-dark" (click)="createChild('board')" data-cy="create-sub-board">Board</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('text')" data-cy="create-sub-text">Text</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('image')" data-cy="create-sub-image">Image</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('note')">Note</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('task')">Task</a></div>
          <div><a class="dropdown-item text-dark" (click)="createChild('sketch')">Sketch</a></div>
        </div>
      </div>
    </div>

    <button type="button" class="primary" (click)="openDeleteModal(this.component)" data-cy="home-board-delete-modal">
      <i class="bi bi-trash-fill"></i>
      <span class="m-1"> Delete Board </span>
    </button>
    <div class="form-check form-switch" title="Enable edit mode to drag and resize components">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
        [(ngModel)]="inEditMode" [attr.data-cy]="'home-edit-mode'">
      <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
    </div>

  </div>

</nav>

<div *ngIf="!!component" style="position: relative;">

  <div #preview class="preview-card"></div>

  <app-board-component *ngIf="component" [id]="'board-' + component.id" [depth]=0 [self]="component"
    [inEditMode]="inEditMode" (startDraggingContainer)="startDragging($event)"
    (stopDraggingContainer)="stopDragging(undefined)">
  </app-board-component>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #deleteModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Component?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="!!forDeletion">
        {{getCompDeleteMsg(forDeletion)}}
        <br>
        All existing sub-components in this component will also be deleted!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="finishDeleteModal()"
          data-bs-dismiss="modal" data-cy="home-board-delete-modal-confirm">Delete</button>
      </div>
    </div>
  </div>
</div>