<div #previewCard [attr.data-preview-id]="self.id" class="preview-card"></div>
<div #card [attr.data-id]="self.id" [ngClass]="{'card p-2':!!parentContainer, 'read-only-mode': readonlyMode}" [class.task-done]="self.completed"
  [class.task-overdue]="taskOverdue()" [class.task-inProgress]="taskInProgress()">

  <!-- Title -->
  @if (editingTitle) {
  <input class="title  form-control form-control-sm mb-1" [(ngModel)]="titleBuffer" maxlength="255">
  <div class="d-flex gap-1">
    <button class="btn btn-sm btn-primary" (click)="saveTitle()">Save</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="cancelTitle()">Cancel</button>
  </div>
  } @else {
  <h5 class="mx-1" [ngClass]="{'resizing' : isResizing}">
    <div class="flex">
      <input type="checkbox" id="task-complete-box" name="task-complete" disabled="{{available()}}"
        [(ngModel)]="self.completed" (ngModelChange)="onCompletedChange($event)">
      <label for="task-complete-box" (dblclick)="startEditTitle()">{{ self.name }}</label>
    </div>
  </h5>
  }

  <!-- Controls -->
  @if (inEditMode) {
  <!-- Drag & Resize -->
  <div class="top-right"
       (mousedown)="startContainerDrag(self, $event)"
       (mouseup)="stopContainerDrag()"
       (touchstart)="startContainerDrag(self, $event)"
       (touchend)="stopContainerDrag()"
  >
    <i class="bi bi-arrows-move grab"></i>
  </div>
  <div class="resizer bottom-right" [id]="'resizer-' + self.id">
    <i class="bi bi-arrows-angle-expand"></i>
  </div>
  } @else {
  <app-context-menu class="top-right" [actions]="actions"></app-context-menu>
  }

  <!-- Task summary -->
  <ng-container *ngIf="self.type === 'task' && getTotalTasks() >0">
    <div class="task-date">
      <i class="bi bi-ui-checks"></i>
      <span>{{ getCompletedTasks() }}/{{ getTotalTasks() }}</span>
    </div>
  </ng-container>

  <!-- Task properties -->
  <ng-container *ngIf="self.type === 'task'">
    <label class="task-date" *ngIf="!endDateEditable() && !editingEndDate && !readonlyMode" (click)="editingEndDate = true">
      Add due date…
    </label>
    <div class="task-date">
      <ng-container *ngIf="editingEndDate || endDateEditable()">
        <i class="bi bi-clock"></i>
        <input type="date" [(ngModel)]="endDateText" [disabled]="readonlyMode" class="date-picker">
        <button class="buttonDel hide-in-read-only-mode" style="font-size:10px" (click)="deleteEndDate()"><i class="bi bi-trash-fill"></i>
        </button>
        <button title="Repeat this task after deadline!" class="buttonDel hide-in-read-only-mode" style="font-size:12px"
                (click)="setRepeating()" [class.Selected]="self.repeating" *ngIf="isNotChildOfTask">
          <i class="bi bi-arrow-clockwise"> cached</i>
        </button>
      </ng-container>
    </div>
    <div class="task-date-arrow">
      <ng-container *ngIf="editingStartDate || startDateEditable()">
        <i class="task-date-arrow">&#8613;</i>
        <input type="date" [(ngModel)]="startDateText" [disabled]="readonlyMode" class="date-picker">
        <button class="buttonDel hide-in-read-only-mode" style="font-size:10px" (click)="deleteStartDate()"><i
            class="bi bi-trash-fill"></i></button>
      </ng-container>
    </div>

    <label class="task-date" *ngIf="!startDateEditable() &&!editingStartDate && endDateEditable() && !readonlyMode"
      (click)="editingStartDate = true">
      Add start date…
    </label>
  </ng-container>

  <!-- children -->
  <div class="container-grid" [id]="'container-grid-' + self.id" #grid>
    <ng-container #children></ng-container>
  </div>
</div>
