<div class="container">
  <div class="row">

    <div class="col-md-6 col-lg-4 card align-self-center">

      <h1>Modulo</h1>

      <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
        <h3>Login</h3>

        <!-- Username input -->
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
            aria-describedby="usernameHelp" placeholder="Enter username" data-cy="login-input-username">
          <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
            <small class="form-text text-warning" *ngIf="loginForm.controls.username.errors.required">
              Your username is required!
            </small>
          </div>
        </div>

        <!-- Password input -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" formControlName="password" class="form-control" id="password"
            placeholder="Password" data-cy="login-input-password">
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.required">
              Your password is required!
            </small>
          </div>
        </div>

        <button type="submit" class="primary" data-cy="login-button">Login</button>

      </form>

      <span>New here? <a routerLink="/signup" data-cy="register-link">Create an account</a></span>
    </div>
  </div>
</div>