.point {
  cursor: pointer;
}

.dropdown-menu {
  z-index: 100;
  padding: 0.1rem 0;
}

.dropdown-menu .dropdown-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0.1rem 0;
  font-size: 0.875rem;
}

.dropdown-menu .dropdown-divider {
  margin: 0rem 0;
}
