<div class="container">

  <!--Header-->
  <div class="row align-self-center pt-2 m-4">
    <div class="row">
      <div class="col">
        <h1>Friends </h1>
        <span>🫂</span>
      </div>
      <h6 class="ms-2">Here is the list of your friends and friend requests</h6>
    </div>



    <hr>
    @if (friends.length > 0){
    <div class="row row-cols-auto justify-content-start" id="filtering"> <!-- consider group of radio-->
      <div class="col align-content-center"><h5>choose filtering: </h5></div>
      <div class="col"><button class="primary col pe-2 ps-2" (click)="allFriends()">All</button></div>
      <div class="col"><button class="primary col" (click)="onlyFriends()">Friends</button></div>
      <div class="col"><button class="primary" (click)="onlySent()">Sent Requests</button></div>
      <div class="col"><button class="primary" (click)="onlyReceived()">Received Requests</button></div>
    </div>
    } @else {
      <h2>You don't have any friends yet</h2>
    }
  </div>
  <!--Listing-->
  <div class="container">
    @for(friend of displayedFriends; track friend){
      <div class="row mb-1">

        <div class="col" >
          <div class="card">
            <div class="row">

              <div class="col-auto align-content-center ps-4" style="cursor: pointer" routerLink="/user/{{friend.username}}">

                <img id="avatar-{{friend.username}}" class="profile" src="{{user_pfp.get(friend.username)}}">

              </div>

              <div class="col-auto p-3" style="cursor: pointer" routerLink="/user/{{friend.username}}">
                <div class="row">
                  <h5 class="card-title">{{friend.username}}</h5>
                </div>
                <div class="row">
                  <h6 id="email">{{friend.email}}</h6>
                </div>
              </div>

              <div class="col"  style="cursor: pointer" routerLink="/user/{{friend.username}}"></div>

              <div class="col-auto align-content-center pe-5 " style="">
                <div class="buttons">
                  @if(!friend.accepted && friend.username === friend.requesterName){
                    <button type="button" class="primary p-1" (click)="acceptFriend(friend)">accept</button>
                  }
                  @if(!friend.accepted && friend.username !== friend.requesterName){
                    <button type="button" class="primary" disabled>pending</button>
                  }
                  @if(friend.accepted) {
                    <button type="button" class="primary" data-bs-toggle="dropdown" (click)="getCommonGroups(friend)" aria-expanded="false">
                      Add to Group
                    </button>
                    <div class="dropdown-menu add-child-menu">
                      @if (myGroups.length > 0) {
                        <div class="h6 add-child-header">Add {{friend.displayName}} to Group</div>
                        <hr class="m-0 p-0">
                        <div class="add-child-items m-0 p-0">
                          @for (group of myGroups; track group.id) {
                            <div class="dropdown-item flex gap-2">
                              <a class="text-dark text-decoration-none" (click)="changeGroup(group, friend, $event)">{{ group.name }}</a>
                              <input class="form-check-input" type="checkbox"
                                     [checked]="isCommonGroup(group)"
                                     (change)="changeGroup(group, friend)">
                            </div>
                          }
                        </div>
                      } @else {
                        <div class="h6 add-child-header">No existing Groups</div>
                      }
                    </div>
                  }
                  <button type="button" class="primary" (click)="openModal(friend)">Remove Friend</button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    }

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     #removeModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove {{forRemoval?.displayName}} from friend list?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The user will be removed from your friend list!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="removeFriend(forRemoval)" data-bs-dismiss="modal"
                data-cy="home-board-delete-modal-confirm">Remove</button>
      </div>
    </div>
  </div>
</div>

