@use "src/styles/global.scss" as *;
@use "src/styles/variables.scss" as *;

// ------ CARD/CONTAINER ------ //

.edit-overflow {
  overflow: visible !important;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  min-height: 50px;
}

.container-header h5 {
  font-size: 1.1rem;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 0.1rem;
}
