<div #previewCard class="preview-card" [attr.data-preview-id]="self.id"></div>
<div #card [ngClass]="{'card p-2': inEditMode, 'read-only-mode': readonlyMode}" class="borders"
     [attr.data-cy]="'child-text'">

  <!-- Header -->
  @if (inEditMode) {
  <!-- Drag & Resize -->
    <div class="top-right"
         (mousedown)="startContainerDrag(self, $event)"
         (mouseup)="stopContainerDrag()"
         (touchstart)="startContainerDrag(self, $event)"
         (touchend)="stopContainerDrag()"
    >
    <i class="bi bi-arrows-move grab"></i>
  </div>
  <div class="resizer bottom-right" [id]="'resizer-' + self.id">
    <i class="bi bi-arrows-angle-expand"></i>
  </div>
  } @else if (!inEditMode) {
  <app-context-menu class="top-right" [actions]="contextMenuActions"></app-context-menu>
  }

  <!-- Content -->
  <div [ngClass]="{'hidden': editing, 'content': !inEditMode}" #content (dblclick)="edit()">{{self.content}}</div>
  <textarea [ngClass]="{'hidden': !editing}" [(ngModel)]="editBuffer" rows="1" (blur)="save()" #input></textarea>
</div>
