<div *ngIf="error" class="notification error">
    {{ error }}
    <button (click)="vanishError()" class="close">&times;</button>
</div>

<div class="container">

    <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

        <!-- big round avatar -->
        <div class="avatar">
            <img id="avatar">
            <div *ngIf="canManage" class="avatar-ctrl remove" (click)="onRemoveAvatar()">
                <i class="bi bi-x-circle-fill"></i>
            </div>
            <div *ngIf="canManage" class="avatar-ctrl edit" (click)="changeAvatar()">
                <i class="bi bi-pencil-fill"></i>
            </div>
        </div>

        <!-- username -->
        <span>{{user?.username}}</span>
        <h3>{{user?.displayName}}</h3>

        <div *ngIf="canManage">
            <!-- Change data -->
            <div class="form-group">
                <label for="tbxDisplayName">Display name</label>
                <input type="text" id="tbxDisplayName" class="form-control" formControlName="displayName">
            </div>


            <div class="form-group">
                <label for="tbxEmail">Email</label>
                <input type="email" id="tbxEmail" class="form-control" formControlName="email">
                <span *ngIf="updateForm.controls.password?.errors?.email" class="error">
                    Invalid email format
                </span>
            </div>

            <button *ngIf="!passwordChangeRequested" type="button" class="form-group"
                (click)="passwordChangeRequested = true">Change Password</button>

            <div *ngIf="passwordChangeRequested" class="form-group passwords">
                <div>
                    <label for="tbxPassword">New password</label>
                    <input type="password" id="tbxPassword" class="form-control" formControlName="password"
                        minlength="8">
                    <span *ngIf="updateForm.controls.password?.errors?.minlength" class="error">
                        Your password must be at least 8 characters long!
                    </span>
                </div>

                <div>
                    <label for="tbxPasswordRepeat">Repeat password</label>
                    <input type="password" id="tbxPasswordRepeat" class="form-control" formControlName="passwordRepeat"
                        (input)="passwordsValid()">
                    <span *ngIf="updateForm.controls.passwordRepeat?.errors?.noMatch" class="error">
                        Passwords don't match
                    </span>
                </div>
            </div>

            <div class="form-group" style="display: flex; gap: .5rem;">
                <button *ngIf="isChanged" type="submit" class="primary">Save</button>
                <button type="button" (click)="onDelete()" class="error">Delete</button>
            </div>
        </div>

        <div *ngIf="!isOwn">
            <button type="button">Add friend</button>
        </div>

    </form>

</div>