<div #previewCard class="preview-card" [attr.data-preview-id]="self.id"></div>
<div #card [ngClass]="{'card p-2': inEditMode}" class="borders" [attr.data-id]="self.id"
[attr.data-cy]="'child-image'">

    @if (inEditMode) {
    <!-- Drag & Resize -->
    <div class="top-right" (mousedown)="startContainerDrag(self, $event)" (mouseup)="stopContainerDrag()">
        <i class="bi bi-arrows-move grab"></i>
    </div>
    <div class="resizer bottom-right" [id]="'resizer-' + self.id">
        <i class="bi bi-arrows-angle-expand"></i>
    </div>
    } @else {
    <app-context-menu class="top-right" [actions]="actions"></app-context-menu>
    }

    <div class="content">
        <img #content (dblclick)="focusFileInput()" [attr.data-cy]="'image-content'">
        <div class="no-img-msg" *ngIf="!content.src">
            No image selected yet!
            <button (click)="focusFileInput()" [attr.data-cy]="'image-select-button'">Set image</button>
        </div>
        <input #input class="hidden" type="file" (change)="setImage($event.target.files[0])"
            accept=".gif,.jpg,.jpeg,.png" [attr.data-cy]="'image-select-input'">
    </div>
</div>
