@use "src/styles/global.scss" as *;
@use "src/styles/variables.scss" as *;

// ------ CONTAINER ------ //

.container-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--rowHeight);
  position: relative;
  grid-auto-flow: row dense;
  overflow: visible;
}

.container-header {
  min-width: 0;
  overflow: hidden;
}

.container-header h5 {
  font-size: 1.1rem;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 0.1rem;
}
